html {
    
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;  
}

body {

    font-size: 16px;
    line-height: 120%;
    background-image: url(photo/background.jpg);
    background-size: 100%;
    padding: 20px;
    margin: 10px 40px 40px 10px;
}

div {
    font-family: 'Titillium Web', sans-serif;
    
}

div.withLogo {
    width: 500px;
    height: 150px;
    background-image: url(photo/top-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    margin: auto;
}

div.formRight {
    height: 490px;
    width: 360px;
    margin-left: 200px;
    float: left;
    
}

div.insideForm1 {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 50px;
    text-shadow: 3px 3px 30px black, 3px 3px 3px black;
}

div.insideForm2 {
    padding: 10px;
    margin: 10px;
    background-color: white;
    height: 390px;

    box-shadow: 1px 5px 30px 19px rgba(0,0,0,0.75)
}

div.formLeft {
    height: 190px;
    width: 360px;
    float: right;
    margin-right: 200px;
    
    
    
}

div.insideForm1L {
    text-align: center;
    color: white;
    font-size: 35px;
    padding-bottom: 20px;
    text-shadow: 3px 3px 30px black, 3px 3px 3px black;
    
}



div.insideForm2L {
    padding: 30px;
    background-color: white;
    box-shadow: 1px 5px 30px 19px rgba(0,0,0,0.75)  
}

div#3L {
    
}

textarea {
    height: 150px;
    width: 250px;
    margin: 5px;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-position: left 15px center;
    display: block;
    font-size: 16px;
    color: gray;
    font-family: 'Titillium Web', sans-serif; 
}

input.field {
    margin: 5px;
    border-radius: 5px;
    background-image: url(photo/mail-icon.png);
    background-repeat: no-repeat;
    background-position: left 15px center;
    display: block;
    width: 260px;
    
}

button {
    margin: 10px;
    width: 260px;
    background-color: rgb(159, 213, 58);
    border-radius: 4px;
    background-image: linear-gradient();
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(59, 154, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}



