* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;  
}

body {
    font-size: 16px;
    line-height: 120%;
    background-image: url(photo/background.jpg);
    background-size: 100%;
    padding: 20px;
    margin: 10px 40px 40px 10px;
}

body::after {
    content: '';
    display: table;
    clear:both;
}

input.check {
position: absolute;
z-index: -1;
visibility: hidden;
}

label.aaa {
    position: relative;
    z-index: 3;
    padding-left: 40px;
}

label.aaa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(123, 173, 24);
    border-radius: 5px;
    transition: background-image .3s ease-in-out;
}

input.check:checked + label.aaa::before {
    background-image: url(photo/check-ok.png);
    background-repeat: no-repeat;
    background-position: center;
}

div {
    font-family: 'Titillium Web', sans-serif;
}

form {
    background-color: white;
    
}

div.withLogo {
    width: 500px;
    height: 150px;
    background-image: url(photo/top-logo.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.4;
    margin: auto;
}

div.formRight {
    
    width: 380px;
    margin-left: 200px;
    position: relative;
   

}

div.formLeft {
    height: 100;
    width: 380px;
    margin-left: 200px;
    position: absolute;
    top: 0px;
    left: 300px;

}

div.insideForm1 {
    text-align: center;
    color: white;
    font-size: 35px;
    padding: 50px;
    text-shadow: 3px 3px 30px black, 3px 3px 3px black;
}

div.insideForm2 {
    width: 100%;
    height: 100%;
    border: 25px solid rgba(0, 0, 0, 0.3);
}

textarea {
    height: 250px;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    background-repeat: no-repeat;
    background-position: left 15px center;
    display: block;
    font-size: 16px;
    color: gray;
    font-family: 'Titillium Web', sans-serif; 
}

input {
    margin: 15px;
    padding-left: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid silver;
    border-radius: 5px;
    width: 300px;
}

input.user {
    background-image: url(photo/mail-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;

}

input.password {
    background-image: url(photo/lock-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.email {
    background-image: url(photo/mail-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.location {
    background-image: url(photo/map-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.phone {
    background-image: url(photo/mobile-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.check {
    padding-left: 40px;
    border-radius: 5px;
    width: 20px;
}

button {
    margin: 10px;
    width: 300px;
    background-color: rgb(159, 213, 58);
    border-radius: 4px;
    background-image: linear-gradient();
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(59, 154, 0);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition: 0.3s ease-in-out;
}

button:hover {
    color: rgb(123, 173, 24);
    box-shadow: 2px 2px 6px 4px rgba(0,0,0,0.45);    
}

img {
    position: relative;
    left: 720px;
    bottom: 180px;
    opacity: 0.4;
}





