* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Titillium Web', sans-serif;  
}

body {
    font-size: 16px;
    line-height: 120%;
    background-image: url(photo/background.jpg);
    background-size: 100%;
    padding: 20px;
    margin: 10px 40px 40px 10px;
}

.container {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
}

img {
    max-width: 100%;
    height: auto;
    opacity: 0.4;
    
}

.logo-bottom {

    width: 360px;
    max-width: 100%;
    height: auto; 
}

.box-title {
    font-size: 200%;
    font-weight: 400;
    color: white;
    max-width: 380px;
    height: auto;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.box-form {
    width: 380px;
    max-width: 100%;
    height: auto;
    background-color: rgba(117, 29, 38, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;

}

form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

input {
    width: 300px;
    max-width: 100%;
    border: 1px solid rgb(198, 198, 198);
    padding: 12px 0px 12px 46px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.vl {
    width: 1px;
    height: 40px;
    border: none;
    border-right: 2px solid rgb(198, 198, 198);
    position: absolute;
    left: 110px;
    top: 2px;
    z-index: 10;

}

input.user {
    background-image: url(photo/user-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;

}

input.password {
    background-image: url(photo/lock-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.email {
    background-image: url(photo/mail-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.location {
    background-image: url(photo/map-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.phone {
    background-image: url(photo/mobile-icon.png);
    background-repeat: no-repeat;
    background-position: left 10px center;
}

input.check {
    display: none;
    width: 20px;
    max-width: 100%;
    
}

placeholder {
    font-size: 100%;
    font-weight: 300;
    color: rgb(175, 175, 175);
}

checkbox {
    border: 1px solid rgb(198, 198, 198);
    color: rgb(175, 175, 175);
}

textarea {
    border: 1px solid rgb(198, 198, 198);
    border-radius: 4px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: rgb(175, 175, 175);
    padding: 4px;
    width: 300px;
    max-width: 100%;
    margin-bottom: 7px;


}

button {
    width: 300px;
    max-width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: white;
    background-color: rgb(159, 213, 58);
    background-image: linear-gradient();
    border: 1px solid rgb(59, 154, 0);
    padding: 10px 0px 10px 0px;
    margin-top: 7px;
    border-radius: 4px;

}

.check-butt {
    width: 130px;
    max-width: 100%;
    display: inline;
}

.done-butt {
    width: 130px;
    max-width: 100%;
    display: inline;
    margin-left: 35px;
    background-color: rgb(195, 223, 161);
    border: 1px solid rgb(144, 202, 109);
   
}

.thanks-butt {
    width: 130px;
    max-width: 100%;
    display: inline;
    margin-left: 35px;
    background-color: rgb(245, 83, 101);
    border: 1px solid rgb(162, 32, 42);
}




.div-sign-in {
    display: inline;
    width: 250px;
    margin-right: 32px;
}

label.aaa {
    position: relative;
    z-index: 3;
    padding-left: 30px;
}

label.aaa::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(123, 173, 24);
    border-radius: 5px;
    transition: background-image .3s ease-in-out;
}

input.check:checked + label.aaa::before {
    background-image: url(photo/check-ok.png);
    background-repeat: no-repeat;
    background-position: center;
}



